main#full-page {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
}

.slide-container {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
  width: calc(var(--len) * 100vw);
  transform: translateX(calc(-100vw * var(--pos)));
  transition: transform 300ms ease-in-out;
}

.slide {
  box-sizing: border-box;
  display: flex;
  padding: var(--gutter);
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.slide--image {
  object-fit: contain;
}

.slide--table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2;
}
.slide--table table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.slide--table table,
.slide--table th,
.slide--table td {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: text-top;
}
.slide--table .label {
  font-weight: bold;
  padding-right: 3em;
}

.slide--markup p {
  font-size: 24px;
  width: 45ch;
  max-width: 100%;
  /* columns: 2;
  column-gap: 2em; */
  line-height: 1.3;
  word-spacing: 2px;
  /* text-align: justify; */
}

.slide--markup strong {
  letter-spacing: 0.5px;
}

.back-link {
  position: absolute;
  top: calc(var(--gutter) * 0.5);
  left: calc(var(--gutter) * 0.5);
  transform: translate(-50%, -50%);

  z-index: 1000;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.page-title {
  position: absolute;
  top: 0;
  left: 50%;
  text-transform: uppercase;
  transform: translate(-50%, -20%);
}
