.list-view {
  --gutter: 50px;
  position: fixed;
  z-index: 100;
  height: 100vh;
  left: 100vw;
  top: 0;
}
.list-view__toggle {
  z-index: 1;
  width: var(--gutter);
  height: var(--gutter);
  appearance: none;
  border: none;
  position: absolute;
  background-color: #fff;
  right: 100%;
  padding: 0;
}
.list-view__container {
  z-index: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  transform: translateX(0);
  transition: transform 200ms;
  overflow-y: auto;
  padding-top: 3em;
}

.list-view__container.open {
  transform: translateX(-100%)
}

.list-view__container a,
.list-view__container button {
  text-decoration: none;
  display: block;
  height: var(--gutter);
  padding-left: var(--gutter);
  font-size: 25px;
  text-transform: uppercase;
}
.list-item--buero {
  padding-bottom: 1em;
  margin-bottom: 1em;
  position: relative;
}

.category__label:before {
  content: "+";
  position: absolute;
  left: calc(var(--gutter) * 0.5);
}
.category__label.open:before {
  content: "–";
}

.category__container a {
  padding-left: calc(var(--gutter) * 2);
}


@media screen and (min-width: 640px) {
  .list-view__container.open {
    transform: translateX(-50%);
    box-shadow: -1px 0 0 0 black;
  }
}
